:root {
    --white: #FFFF;
    --grey: #D9D9D9;
    --eerie-black: #191C1F;
    --space-cadet: #1F2033;
    --medium-slate-blue: #7C54F0;
    --darker-grey: #8C8C8C;
    --gold: #E3A527;
    --night: #0C0E0F;
    --azure: #4380F5; 
}