.body {
    background-color: #191C1F;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.form-container {
    padding: 2rem;
    width: 100%;
    max-width: 500px;
}

.headline {
    font-weight: bold;
    color: #D9D9D9;
    margin-bottom: 1.5rem;
    text-align: center;
}

.text {
    color: var(--grey);
}

.placeholder-text::placeholder {
    color: var(--darker-grey);
}